<div *ngIf="inverter">
  <h1>{{inverter.DeviceName}}</h1>

  <div class="col-xs-5">
    <p>{{inverter.SN}}</p>
    <p>{{inverter.Online}}</p>
    <p>{{inverter.Location}}</p>
    <p>{{inverter.DeviceModel}}</p>
    <p>{{inverter.DisplaySoftwareVersion}}</p>
    <p>{{inverter.MasterControlSoftwareVersion}}</p>
    <p>{{inverter.SlaveControlVersion}}</p>
  </div>

  <div *ngIf="Loaded" class="col-xs-7">
    <h1>Master data</h1>
    <h3>totaal onvangen energy : {{totalEnergy}}</h3>
    <h3>januari : {{Januari}}</h3>
  </div>
</div>

<div *ngIf="!inverter">
  <p>er is iets mis gegaan !</p>
</div>
