<div *ngIf="inverter">
  <h1>{{inverter.DeviceName}}</h1>

  <div class="col-xs-5">
    <p>SN : {{inverter.SN}}</p>
    <p>online : {{inverter.Online}}</p>
    <p>Location : {{inverter.Location}}</p>
    <p>DeviceModel : {{inverter.DeviceModel}}</p>
    <p>DisplaySoftwareVersion : {{inverter.DisplaySoftwareVersion}}</p>
    <p>MasterControlSoftwareVersion : {{inverter.MasterControlSoftwareVersion}}</p>
    <p>SlaveControlVersion : {{inverter.SlaveControlVersion}}</p>
  </div>

  <div *ngIf="Loaded" class="col-xs-7">
    <h1>Master data</h1>
    <h3>totaal onvangen energy : {{totalEnergy}}</h3>
    <h3>januari : {{Januari}}</h3>
  </div>
</div>

<div *ngIf="!inverter">
  <p>er is iets mis gegaan !</p>
</div>
