.langButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.langButton:active {
}

.pull-right {
  position: absolute;
  margin-top: 10px;
  margin-left: 900px;
}

.navbar-default {
  background-color:#BF0029;
  border-bottom: 3px solid #7F001B;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white ;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {


    background: rgba(0,0,0,0.2);
}
