.navbar-default {
  background-color: #BF0029;
  border-bottom: 3px solid #7F001B;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white ;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffff66;
    text-decoration: underline;
    text-decoration-color: #ffff66;
    
    background: linear-gradient(#FF0037, #BF0029);
}
