<nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menu-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ title }}</a>
      </div>
      <div class="collapse navbar-collapse navbar-menu-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive='active' ><a routerLink='/dashboard' translate>Dashboard</a></li>
            <li routerLinkActive='active' ><a routerLink='/locations' translate>nav-locations</a></li>
            <li routerLinkActive='active' ><a routerLink='/inverters' translate>nav-inverters</a></li>
            <li routerLinkActive='active' ><a routerLink='/alerts' translate>nav-alerts</a></li>
            <ul class="pull-right">
            <img class="langButton" src="../../../assets/img/nl.svg" height="22" (click)="switchLanguage('nl')">
            <img class="langButton" src="../../../assets/img/gb.svg" height="22" (click)="switchLanguage('en')">
            </ul>
        </ul>
      </div>
    </div>
  </nav>
