<div class="page-header">
    <h1>{{title}}</h1>
  </div>


  <div *ngIf="Loaded" class="col-md-12">
    <table class="table table-hover">
      <thead>
      </thead>
      <tbody>
        <div class="row">
          <div class="col-xs-12">
            <app-inverter-details
            [inverter]="inverter"
            ></app-inverter-details>
          </div>
        </div>
          <div class="row">
            <div class="col-xs-4">
                <app-energy-list
                ></app-energy-list>
            </div>
            <div class="col-xs-8">
              <router-outlet></router-outlet>
            </div>
          </div>
      </tbody>
    </table>
  </div>
  <div *ngIf="!Loaded">
    Er zijn geen energy gains gevonden.
  </div>
 <button class="btn">Add Energy Gain</button>
