<div *ngIf="location" class="row">
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ location?.name }} {{ location?.adress }}</h1>
    </div>
  </div>
  <h3>Inverters</h3>
<div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let inverter of location?.inverters">
          <div class="media">
              <div class="media-body">
                <h4 class="media-heading">{{ inverter.DeviceName }}</h4>
              </div>
            </div>
        </li>
    </ul>
</div>
  <div class="row">
    <div class="col-xs-12">
        <button 
        class="btn btn-danger" 
        type="button" 
        (click)="onDeleteLocation()">Delete Locatie</button>
    </div>
  </div>
  <div *ngIf="!location">
    er zijn geen locaties
  </div>
  