/* You can add global styles to this file, and also import other style files */
body {
background-color: #f8f8f8}

.card {
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffff;
}

.card:hover {
  transform: scale(1.005);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-container {
  padding: 10px;
}
